gitlac-ci:
  multirunners:
    runner-1:
      type: "shell"
      controller: "http://glci.domain.ext/"
      key: 234234234efef234234234
      register: True
    runner-2:
      type: "shell"
      controller: "http://glci.domain.ext/"
      key: 234234234efef234234234
      register: True
